$base-lightest: #fff;
$base-darkest: #000;
$base-dark: #3C3C3C;
$base-green: #8CBC5B;
$base-red: #FF5858;
$base-grey: #8C8C8C;

$grey-0: #FAFBFB;
$grey-10: #F2F2F2;
$grey-20: #DFDFDF;
$grey-30: #BFBFBF;

$cascade-primary: #3C3C3C;
$cascade-secondary: #594BDB;
